@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <a href="/Boat/RegisterBoat" class="Button">Register Boat</a>
        <br />
        <br />
        <a href="/Boat/RentBoat" class="Button">Rent Boat</a>        
    </div>
